    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bed-for-two:before { content: "\f100"; }
.flaticon-bed-left-side:before { content: "\f101"; }
.flaticon-bed-mattress:before { content: "\f102"; }
.flaticon-bed-with-wheels:before { content: "\f103"; }
.flaticon-bedroom-bed:before { content: "\f104"; }
.flaticon-berth:before { content: "\f105"; }
.flaticon-berth-with-stairs:before { content: "\f106"; }
.flaticon-big-bed-hotel:before { content: "\f107"; }
.flaticon-big-bed-with-long-pillow:before { content: "\f108"; }
.flaticon-big-bed-with-one-pillow:before { content: "\f109"; }
.flaticon-big-bed-with-one-pillow-1:before { content: "\f10a"; }
.flaticon-big-bed-with-pillows:before { content: "\f10b"; }
.flaticon-big-double-bed:before { content: "\f10c"; }
.flaticon-big-mattress:before { content: "\f10d"; }
.flaticon-child-bed:before { content: "\f10e"; }
.flaticon-circular-bed-with-heart:before { content: "\f10f"; }
.flaticon-couple-double-bed:before { content: "\f110"; }
.flaticon-cradle:before { content: "\f111"; }
.flaticon-dark-chair:before { content: "\f112"; }
.flaticon-double-bed:before { content: "\f113"; }
.flaticon-double-bed-with-curtains:before { content: "\f114"; }
.flaticon-double-bed-with-pillow:before { content: "\f115"; }
.flaticon-double-bed-with-striped-headboard:before { content: "\f116"; }
.flaticon-double-bed-with-two-pillows:before { content: "\f117"; }
.flaticon-heart-shaped-double-bed:before { content: "\f118"; }
.flaticon-hostel-big-bed:before { content: "\f119"; }
.flaticon-hostel-double-bed:before { content: "\f11a"; }
.flaticon-hostel-double-bed-with-two-pillows:before { content: "\f11b"; }
.flaticon-hostel-king-size-bed:before { content: "\f11c"; }
.flaticon-hotel-bed-pillow:before { content: "\f11d"; }
.flaticon-hotel-bedroom:before { content: "\f11e"; }
.flaticon-hotel-bedroom-1:before { content: "\f11f"; }
.flaticon-hotel-bedside:before { content: "\f120"; }
.flaticon-hotel-double-bed:before { content: "\f121"; }
.flaticon-hotel-double-bed-with-two-pillows:before { content: "\f122"; }
.flaticon-hotel-king-size-bed:before { content: "\f123"; }
.flaticon-hotel-king-size-bed-1:before { content: "\f124"; }
.flaticon-hotel-left-side-bed:before { content: "\f125"; }
.flaticon-king-size-bed-for-one-person:before { content: "\f126"; }
.flaticon-king-size-bed-with-one-pillow:before { content: "\f127"; }
.flaticon-king-size-bed-with-pillows:before { content: "\f128"; }
.flaticon-king-size-bed-with-two-pillows:before { content: "\f129"; }
.flaticon-kings-size-bed-for-three:before { content: "\f12a"; }
.flaticon-large-double-bed:before { content: "\f12b"; }
.flaticon-modern-double-bed:before { content: "\f12c"; }
.flaticon-room-bed:before { content: "\f12d"; }
.flaticon-sleeping-bed:before { content: "\f12e"; }
.flaticon-sofa-bed:before { content: "\f12f"; }
.flaticon-stretcher:before { content: "\f130"; }
.flaticon-tatami-bed:before { content: "\f131"; }
    
    $font-Flaticon-bed-for-two: "\f100";
    $font-Flaticon-bed-left-side: "\f101";
    $font-Flaticon-bed-mattress: "\f102";
    $font-Flaticon-bed-with-wheels: "\f103";
    $font-Flaticon-bedroom-bed: "\f104";
    $font-Flaticon-berth: "\f105";
    $font-Flaticon-berth-with-stairs: "\f106";
    $font-Flaticon-big-bed-hotel: "\f107";
    $font-Flaticon-big-bed-with-long-pillow: "\f108";
    $font-Flaticon-big-bed-with-one-pillow: "\f109";
    $font-Flaticon-big-bed-with-one-pillow-1: "\f10a";
    $font-Flaticon-big-bed-with-pillows: "\f10b";
    $font-Flaticon-big-double-bed: "\f10c";
    $font-Flaticon-big-mattress: "\f10d";
    $font-Flaticon-child-bed: "\f10e";
    $font-Flaticon-circular-bed-with-heart: "\f10f";
    $font-Flaticon-couple-double-bed: "\f110";
    $font-Flaticon-cradle: "\f111";
    $font-Flaticon-dark-chair: "\f112";
    $font-Flaticon-double-bed: "\f113";
    $font-Flaticon-double-bed-with-curtains: "\f114";
    $font-Flaticon-double-bed-with-pillow: "\f115";
    $font-Flaticon-double-bed-with-striped-headboard: "\f116";
    $font-Flaticon-double-bed-with-two-pillows: "\f117";
    $font-Flaticon-heart-shaped-double-bed: "\f118";
    $font-Flaticon-hostel-big-bed: "\f119";
    $font-Flaticon-hostel-double-bed: "\f11a";
    $font-Flaticon-hostel-double-bed-with-two-pillows: "\f11b";
    $font-Flaticon-hostel-king-size-bed: "\f11c";
    $font-Flaticon-hotel-bed-pillow: "\f11d";
    $font-Flaticon-hotel-bedroom: "\f11e";
    $font-Flaticon-hotel-bedroom-1: "\f11f";
    $font-Flaticon-hotel-bedside: "\f120";
    $font-Flaticon-hotel-double-bed: "\f121";
    $font-Flaticon-hotel-double-bed-with-two-pillows: "\f122";
    $font-Flaticon-hotel-king-size-bed: "\f123";
    $font-Flaticon-hotel-king-size-bed-1: "\f124";
    $font-Flaticon-hotel-left-side-bed: "\f125";
    $font-Flaticon-king-size-bed-for-one-person: "\f126";
    $font-Flaticon-king-size-bed-with-one-pillow: "\f127";
    $font-Flaticon-king-size-bed-with-pillows: "\f128";
    $font-Flaticon-king-size-bed-with-two-pillows: "\f129";
    $font-Flaticon-kings-size-bed-for-three: "\f12a";
    $font-Flaticon-large-double-bed: "\f12b";
    $font-Flaticon-modern-double-bed: "\f12c";
    $font-Flaticon-room-bed: "\f12d";
    $font-Flaticon-sleeping-bed: "\f12e";
    $font-Flaticon-sofa-bed: "\f12f";
    $font-Flaticon-stretcher: "\f130";
    $font-Flaticon-tatami-bed: "\f131";